.header__logo {
  border-bottom: 1px solid var(--black200);
  margin-left: 40px;

  @media (max-width: 800px) {
    border-bottom: 0;
  }
  a {
    display: flex;
    padding: 10px;
    margin: 10px;
    align-items: center;

    span {
      font-size: 18px;
      line-height: 1;
      font-weight: 900;
    }
  }
}

.header__menu {
  padding: 10px 0;

  .menu {
    border-bottom: 1px solid var(--black200);
    li {
      margin-bottom: 5px;
      a {
        font-size: 1rem;
        display: block;
        padding: 0.9rem 2rem 0.9rem 3.125rem;
        margin: 0 0.625rem;
        border-radius: 10px;
        position: relative;
        line-height: 1;
        color: var(--white200);
        transition: all 0.3s;

        svg {
          width: 1.25rem;
          height: 1.25rem;
          position: absolute;
          left: 1.25rem;
          top: 0.75rem;
        }
        &:hover {
          background-color: var(--black200);
          color: var(--white);
        }
      }

      &.active a {
        background-color: var(--black200);
        color: var(--white);
        border-radius: 10px;
      }
    }
  }

  .keyword {
    padding: 1.25rem;
    margin-bottom: 50px;
    li {
      display: inline-block;
      a {
        display: inline-block;
        padding: 5px 10px;
        border: 1px solid var(--black200);
        font-size: 0.8rem;
        border-radius: 10px;
        margin: 3px 1px;
        transition: all 0.3s;

        &:hover {
          background-color: var(--black200);
          color: var(--white);
        }
      }
      &.active a {
        background-color: var(--black200);
        color: var(--white);
        border-radius: 10px;
      }
    }
  }
}

.header__sns {
  border-top: 1px solid var(--black200);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 260px;
  text-align: center;
  padding: 15px 0 10px;
  background-color: var(--blackAlpha);
  backdrop-filter: blur(10px);

  @media (max-width: 800px) {
    display: none;
  }

  li {
    display: inline-block;

    a {
      padding: 5px 7px;
      display: inline-block;
    }
  }
}

.header__hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 20px;
  background: none;
  border: none;
  cursor: pointer;
  position: fixed;
  top: 16px;
  left: 20px;
  z-index: 11000;
  margin-top: 10px;

  @media (max-width: 800px) {
    display: flex;
  }

  span {
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--white);
    border-radius: 2px;
  }
}
